version: "3.9"

services:
  app:
    build: .
    container_name: transflow_app
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - mongo
      - redis
      - rabbitmq

  consumer:
    build: .
    container_name: transflow_consumer
    command: ["faststream", "run", "src.consumer:app"]
    env_file:
      - .env
    depends_on:
      - mongo
      - redis
      - rabbitmq

  mongo:
    image: mongo:7
    container_name: transflow_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: transflow_redis
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: transflow_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

volumes:
  mongo_data:
